PORT=8000
DATABASE_URL=postgres://myuser:secretpassword@db:5432/talk_to_me
DATABASE_URL_TEST=postgres://myuser:secretpassword@localhost:5432/talk_to_me_tests

# DATABASE CONFIG
POSTGRES_DB=talk_to_me
POSTGRES_USER=myuser
POSTGRES_PASSWORD=secretpassword

# AUTH
PASSWORD_PEPPER=s3cr37_pepper_123!
JWT_SECRET=@jwt_s3cr37